{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": [
    "eslint-plugin-prettier",
    "unused-imports",
    "react",
    "@typescript-eslint",
    "react-hooks"
  ],
  "extends": [
    "eslint:recommended",
    "google",
    "eslint-config-prettier",
    "plugin:vitest-globals/recommended"
  ],
  "globals": {
    "__MEDUSA_BACKEND_URL__": true
  },
  "rules": {
    // Your rules here
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "vitest-globals/env": true
  },
  "overrides": [
    {
      "files": ["**/*"],
      "rules": {
        "prettier/prettier": "off",
        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-implicit-any": "off",
        "@typescript-eslint/no-unused-vars": "off",
        "curly": "off",
        "new-cap": "off",
        "require-jsdoc": "off",
        "semi": "off",
        "valid-jsdoc": "off",
        "no-unused-expressions": "off",
        "camelcase": "off",
        "no-invalid-this": "off",
        "react/prop-types": "off",
        "react-hooks/rules-of-hooks": "off",
        "react-hooks/exhaustive-deps": "off",
        "unused-imports/no-unused-imports": "off",
        "unused-imports/no-unused-vars": "off"
      }
    }
  ]
}
